button {
  cursor: pointer;
}

body {
  background-color: black;
}

.game {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 900px;
  height: calc(900px * 9 / 16);
  border-radius: 20px;
  background: url("./img/background.png") center/cover;
}

.game .game__info {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.game .game__info .control-btn {
  position: relative;
  width: 52px;
  height: 52px;
  margin-bottom: 20px;
  border: 3px solid black;
  border-radius: 10px;
  background-color: bisque;
}

.game .game__info .control-btn .material-icons {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 44px;
}

.game .game__info .timer {
  width: 160px;
  height: 40px;
  margin-bottom: 10px;
  border: 3px solid black;
  border-radius: 10px;
  font-size: 36px;
  background-color: white;
}

.game .game__info .count-box {
  position: relative;
  width: 52px;
  height: 52px;
  border: 3px solid black;
  border-radius: 50%;
  font-size: 36px;
  background-color: rgb(255, 153, 116);
}

.game .game__info .count-box .count {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

.game .game__items {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 44%;
}

.pop-up {
  position: absolute;
  top: 40%;
  left: 50%;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 400px;
  height: 200px;
  transform: translateX(-50%);
  border-radius: 20px;
  background-color: #00000090;
}

.pop-up .replay-btn {
  position: relative;
  width: 52px;
  height: 52px;
  margin-bottom: 10px;
  border: 3px solid black;
  border-radius: 10px;
  background-color: bisque;
}

.pop-up .replay-btn .material-icons {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 44px;
  transition: 0.2s;
}

.pop-up .pop-up__text {
  color: white;
  font-size: 44px;
}

.pop-up .replay-btn:hover .material-icons {
  color: red;
}

.item {
  transition: 0.2s;
}

.item:hover {
  transform: scale(1.2);
}
